@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navlist {
    width: 60%;
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo {
    width: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50px;
    margin: 5px;
}

.navlist li {
    list-style: none;
    padding: 19px;
}

.navlist li a {
    text-decoration: none;
    /* font-weight: bold; */
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.navlist li a:hover {
    color: gray;
}

.rightnav {
    width: 40%;
    /* background-color: blue; */
    text-align: right;
    padding: 0 23px;
}

#search {
    padding: 4px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 9px;
}

.neonbtn {
    box-sizing: inherit;
    transition: all 0.6s ease;
    min-height: 100%;
    width: 100%;
    font-family: Poppins;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: #111;
}

.nbutton {
    margin: 30px;
    color: #0ff;
    font-size: 21px;
    border: 3px solid #0ff;
    border-radius: 100px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.nbutton:hover {
    background: #0ff;
    color: #000;
    box-shadow: 0 0 50px #0ff, 0 0 21px #0ff;
}

.fill-n {
    background: #0ff;
    color: #000;
}

.fill-n:hover {
    background: #000;
    color: #0ff;
    box-shadow: 0 0 21px #15f4ee inset, 0 0 50px #15f4ee;
    text-shadow: 0 0 4px #15f4ee, 0 0 3px #15f4ee;
}

.switch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
    flex-direction: row;
    background: #050801;
}

.switch a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.switch a:nth-child(1) {
    filter: hue-rotate(290deg);
}

.switch a:nth-child(3) {
    filter: hue-rotate(110deg);
}

.switch a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.switch a span {
    position: absolute;
    display: block;
}

.switch a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.switch a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.switch a span:nth-child(3) {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.switch a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
    /* stroke-dashoffset: calc(440 - (440 * 90) / 100); */
    stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
    /* stroke-dashoffset: calc(440 - (440 * 85) / 100); */
    stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
    /* stroke-dashoffset: calc(440 - (440 * 20) / 100); */
    stroke: #ff04f3;
}

.gauge {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #101010;
}

body {
    justify-content: center;
    align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh; */
    background: #221f1f;
}

.container {
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.container .card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
    pointer-events: none;
    z-index: 1;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number .c111 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number .c111 {
    color: #fff;
    font-size: 60px;
}

.percent .number .c222 {
    font-size: 24px;
    color: #777;
}

.card:hover .percent .number .c222 {
    color: #fff;
}

.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text {
    color: #fff;
}

.center {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, 50%); */
}

.center input {
    margin: 40px 40px;
}

input[type="checkbox"] {
    position: relative;
    width: 120px;
    height: 40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 40px;
}

input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 65px;
    width: 4px;
    height: 4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: .5s;
}

input:checked[type="checkbox"]:after {
    background: #63cdff;
    left: 105px;
    box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}